.myBG {
    height: 100vh;
    background: url('../assets/images/bg/film.jpg');
    background-size: cover;
}

.intro {
    height: 300px;
    
    display: flex;
    justify-content: end;
    align-items: end;    

}

.title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 4px;
}

.navTitle{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px black;
    letter-spacing: 3px;
}

.trending{
    height: auto;
    background: url('../assets/images/bg/car.jpg');
    background-size: cover;

}

.superhero{
    height: auto;
    background: url('../assets/images/bg/biskop.jpg');
    background-size: cover;

}

.movieWrapper{


}

.movieImage{
    background-color: black;
    margin: 5px;
    padding: 5px;
    height: auto;
}

.Image{
    height: 385px;
}